{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load static %}
<body>
<div class="py-5 bg-light h-100" >
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="display-1 text-secondary">Profil Organisasi</h1>
        </div>
      </div>
      <div class="row">
        <div class="align-self-center text-md-right text-center col-md-4">
          <h3 class="text-primary">Website</h3>
          <p class="mb-5" id="website">Based on fluid design principles.
            <br>Works with any screen resolution</p>
          <h3 class="text-primary">Email</h3>
          <p class="mb-5" id="email">Choose settings depending on the criteria you value the most</p>
          <h3 class="text-primary">Tujuan</h3>
          <p class="" id="tujuan">In-app chat panel 24/7 active.
            <br>The support you need, right there.</p>
        </div>
        <div class="my-3 col-md-4">
          <img class="img-fluid d-block ml-1 mx-auto" src="https://operationorganization.com/wp-content/uploads/2017/06/office-building.svg">
          <h1 class="text-center" id="nama">[Nama Organisasi]</h1>
        </div>
        <div class="align-self-center text-md-left text-center col-md-4">
          <h3 class="text-primary">Nama Pengurus</h3>
          <p class="mb-5" id="n_pengurus">Non consuming background operation for longer mobile life</p>
          <h3 class="text-primary">Email Pengurus</h3>
          <p class="mb-5" id="e_pengurus">Work simultaneously on different panels with the switcher</p>
          <h3 class="text-primary">Alamat Pengurus</h3>
          <p id="a_pengurus">Help us spreading the word.
            <br>Tell your friends with just one-click</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="lead text-primary text-right">Kecamatan</p>
          <p class="text-right" id="kecamatan">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-4">
          <p class="lead text-primary text-center">Kabupaten</p>
          <p class="text-center" id="kabupaten">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-4">
          <p class="lead text-primary">Provinsi</p>
          <p class="" id="provinsi">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-primary text-center">Kode Pos</p>
          <p class="text-center" id="k_pos">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-6">
          <p class="lead text-primary text-center">Alamat</p>
          <p class="text-center" id="alamat">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}