<div class="py-5 h-100" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center" contenteditable="true">Apakah anda benar ingin berdonasi sebesar X untuk organisasi ini?</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-primary mx-5 px-5" href="#" id="yes">YES</a>
        </div>
        <div class="col-md-6">
          <a class="btn btn-primary mx-5 px-5" href="#" id="no">NO</a>
        </div>
      </div>
    </div>
  </div>