<div class="py-5 h-100 bg-light" >
    <div class="container">
      <div class="row">
        <div class="col-md-12 py-5 my-5">
          <form class="">
            <div class="form-group">
              <h1 class="display-1 text-center text-primary">Form Login</h1>
              <label class="text-center w-100">Username</label>
              <input type="email" class="form-control" placeholder="Enter username"> </div>
            <div class="form-group">
              <label class="text-center w-100">Password</label>
              <input type="password" class="form-control" placeholder="Password"> </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
