<div class="py-5 h-100 bg-light" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4 text-center text-secondary">FORM PENDAFTARAN DONATUR</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-right text-primary">Nama:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-right text-primary">Email:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="email" class="form-control"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-right text-primary">Password:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="password" class="form-control"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-right text-primary">Kecamatan:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-right text-primary">Kabupaten:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-primary text-right">Provinsi:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-primary text-right">Kode Pos:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="number" class="form-control"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-primary text-right">Jalan/Desa/Keluarahan/No.Rumah: </p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <a class="btn btn-primary mx-5 px-5" href="#">Submit</a>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
