<div class="py-5 h-100 bg-light" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-2 text-center text-secondary">Form Pendaftaran Organisasi</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-right text-primary">Nama Organisasi:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control" required="required"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right text-primary">
          <p class="lead">Website:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control" required="required"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right text-primary">
          <p class="lead">Email:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="email" class="form-control" required="required"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right text-primary">
          <p class="lead">Kecamatan:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control" required="required"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right text-primary">
          <p class="lead">Kabupaten:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control" required="required"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-primary text-right">
          <p class="lead">Provinsi:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control" required="required"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-primary text-right">
          <p class="lead">Kode Pos:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="number" class="form-control" required="required"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right text-primary">
          <p class="lead">Jalan/Desa/Kelurahan/No.Rumah: </p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control" required="required"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-primary text-right">
          <p class="lead">Tujuan Organisasi: </p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control" required="required"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-primary text-right">
          <p class="lead">Nama Pengurus:</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control" required="required"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-right text-primary">Email Pengurus:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="email" class="form-control" required="required"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-primary text-right">
          <p class="lead">Alamat Pengurus:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control" required="required"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <a class="btn btn-primary mx-5 px-5" href="#">Submit</a>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>