<div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1 text-secondary text-center">Form Pendaftaran Sponsor</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-primary text-right">Nama Sponsor:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-right text-primary">Email:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="email" class="form-control"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-right text-primary">Password:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="password" class="form-control"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-right text-primary">Kecamatan:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-right text-primary">Kabupaten:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-right text-primary">Provinsi:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-right text-primary">Kode Pos:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="number" class="form-control"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-right text-primary">Jalan/Desa/Keluarahan/No.Rumah:&nbsp;</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-primary text-right">Logo:</p>
        </div>
        <div class="col-md-6">
          <a href="#" class="btn btn-outline-primary">Img</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <a class="btn btn-primary mx-5 px-5" href="#">Submit</a>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>