{% extends "templates/base.html" %}
{% block content %}
{% load staticfiles %}
{% load static %}

<body>
<div class="py-5 h-100 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1 text-center text-secondary">Donasi</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center text-primary">Organisasi</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="btn-group mx-5 px-4">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Dropdown </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center text-primary">Jumlah Dana</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form class="">
            <div class="form-group">
              <input type="number" class="form-control w-25 mx-auto" placeholder="Password"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <a class="btn btn-primary mx-5 px-5" href="#" id="submit">Submit</a>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
