{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block css %}
    {% endblock %}
    <meta charset="UTF-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="add_friend/static/css/add_friend.css">
    <link rel="stylesheet" id="tt-easy-google-fonts-css"
          href="https://fonts.googleapis.com/css?family=Open+Sans%3Aregular%7CMuli%3Aregular%2C300&amp;subset=latin%2Call%2Call&amp;ver=4.7.6"
          type="text/css" media="all">
</head>
<body style="padding-top: 5%;background: url(https://cdn-images-1.medium.com/max/1920/1*AcYLHh0_ve4TNRi6HLFcPA.jpeg);">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<header>
    {% include "header.html" %}
</header>
<content>
    {% block content %}
    <!-- content goes here -->
    {% endblock %}
</content>
</body>
</html>
