<nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <b> Home</b>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#"> Lihat Organisasi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Register Organisasi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Donasi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Profil</a>
          </li>
        </ul>
        <a class="btn navbar-btn ml-2 text-white btn-secondary">
          <i class="fa d-inline fa-lg fa-user-circle-o"></i>&nbsp;Register</a>
        <a class="btn navbar-btn ml-2 text-white btn-secondary">
          <i class="fa d-inline fa-lg fa-user-circle-o"></i>&nbsp;Log In</a>
      </div>
    </div>
  </nav>